# ============================================================
# CHADIA Projects — Variables d'environnement
# ============================================================

DATABASE_URL="postgresql://user:password@host:5432/chadia_projects"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""
